<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exp14_speechtotext_113">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SpeechToTextApp"
        android:theme="@style/Theme.Exp14_speechtotext_113">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Permissions to record audio and use the internet for speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
